/* || Universal Selector */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* || Element Selectors */
body {
    background-color: #d9dcd6;
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

h1{
    display: inline-block;
    font-size: 48px;
}

h4 {
    font-size: 20px;
}

nav {
    padding-top: 15px;
    margin-right: 20px;
    /*Puts nav links on the right side of the header container*/
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    display: inline-block;
    margin-left: 25px;
    /* Makes all <li> items in nav container have no bullet points*/
    list-style-type: none;
}

    /* li elements will be inline (next to each other horizontally) instead of having them each having their own line. */
li {
    display: inline;
    padding: 0px 20px;
}

a {
    color: #ffffff;
    /*links will not have be a different styling such as being underlined. */
    text-decoration: none;
}

p {
    font-size: 16px;
}

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* || Class Selectors */
.main-image {
    height: 800px;
    /* .main-image class has a width set to 100% so that it takes up the full width of the screen */
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.services {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

    /* Elements with a class of .float-left will be on the left side of the container and those with float-right class will be on the right. */
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.sidebar {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    /* The sidebar will be on the right side of the page. */
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefits {
    margin-bottom: 32px;
    color: #ffffff;
}

    /* h2 headings within the services elements will have a margin underneath them of 20px and will be sized 36px. */
.services h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.services img {
    max-height: 200px;
}

.benefits h3 {
    margin-bottom: 10px;
    text-align: center;
}

    /* The icons in the benefits section will be on their own line (block) and will be centered within the sidebar container. */
.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* || ID Selectors */

    /* The "seo" letters of the header will be light grey. */
#seo {
    color: #d9dcd6;
}